.head {
    padding: 15px
}

.canvas {
    display: flex;
    flex-wrap: wrap;
    width: 640px;
    height: 640px;
    background-color: aqua;
}

.cells {
    width: 50px;
    height: 50px;
    background-color: rgb(139, 124, 124);
    border: 1px solid rgb(243, 233, 233);
    transition: background-color 0.5s ease;
}

.cells:hover {
    background-color: blanchedalmond
}

.btn {
    padding: 5px;
}